html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.2;
}

ol {
    padding-left: 1.4em;
    list-style: decimal;
}

ul {
    padding-left: 1.4em;
    list-style: square;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu {
    background-color: black;
    width: 100%;
    height: 42px;
}

ul#navigation a.bottom {
    display: block;
    background: #000000;
    color: #ffffff;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    margin-bottom: 4px;
    margin-top: 6px;
    margin-right: 30px;
    border-radius: 3px;
    font-size: 22px;
    float: left;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
}

ul#navigation a.bottom:hover {
    display: block;
    background: #000000;
    color: #ffffff;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 4px;
    border: solid 1px hsl(268, 100%, 87%);
    margin-top: 6px;
    margin-right: 30px;
    border-radius: 3px;
    font-size: 23px;
    float: left;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
}

.bottom {
    background: #000000;
    color: #ffffff;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 4px;
    border: solid 1px hsl(268, 100%, 87%);
    margin-top: 4px;
    margin-right: 30px;
    border-radius: 3px;
    font-size: 22px;
    float: left;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 37px;
    left: 2px;
    width: 151px;
    background-color: rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), 0.8);
    z-index: 1;
}

.dropdown-content a {
    color: #ffffff;
    border-bottom: 1px solid hsl(268, 100%, 87%);
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: hsl(32, 100%, 50%);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #000000;
}

#visum {
    margin-left: 30%;
}

.topfilms {
    position: relative;
    background: linear-gradient(to bottom right, #070067, #4A3170);
    height: 250px;
    border-radius: 0 0 5px 5px;
}

#background {
    position: absolute;
    left: 76.7%;
    background-image: url(../images/lenta.jpg);
    background-repeat: no-repeat;
    background-size: 350px 250px;
    opacity: 0.5;
    width: 350px;
    height: 250px;
    border-radius: 0 0 5px 0;
}

.top1 {
    position: absolute;
    left: 76%;
    margin: 0;
    padding: 1px;
    color: #ffffff;
    width: 350px;
    height: 250px;
    float: right;
    font-family: 'JetBrains Mono', monospace;
    font-size: 37px;
    text-align: end;
}

.sidebar {
    margin-top: 12px;
    float: left;
    width: 20%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-left: 20px;
    box-sizing: border-box;
    float: left;
}

.sort_name {
    font-size: 20px;
    display: flex;
    border: 3px solid #555555;
    background-color: #bbbbbb;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    flex-direction: column;
}

ul.sort li {
    display: flex;
    justify-content: space-between;
}

.sort {
    list-style-type: none;
    padding: 0;
    margin-left: 1px;
    font-size: 17px;
}

li span,
li form {
    margin-bottom: 10px;
}

li span {
    flex: 1;
}

li form {
    flex: 1;
}

.sort_by_counts {
    display: flex;
    width: 100%;
}

#sort_films {
    margin-top: 50px;
    margin-bottom: 10px;
}

.start_counts {
    margin-left: 38px;
}

.input_counts_of_free_days input {
    width: 100px;
}

.main {
    width: 78%;
    margin-left: 22%;
    background: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
}

.platform {
    border: solid 2px hsl(0, 0%, 59%);
    border-radius: 5px;
    background: linear-gradient(to bottom right, rgb(199, 0, 0), #070067);
    margin-bottom: 10px;
    box-shadow: -2px 5px 2px #000000;
    padding-bottom: 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
}

.platform:hover {
    border: solid 2px hsl(0, 0%, 59%);
    transform: scale(1.01, 1.01);
    margin-bottom: 10px;
    box-shadow: -2px 5px 2px #000000;
}

.reit {
    color: #ffffff;
    width: 2%;
    font-size: 28px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    min-width: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.platform_photo {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
    display: inline-block;
}

.headband {
    max-width: 250px;
    max-height: 250px;
    float: left;
    padding-bottom: 5px;
    position: relative;
}

.logotip {
    border: solid 3px hsl(27, 85%, 48%);
    border-radius: 10px;
    float: left;
}

.main_block {
    width: 100%;
    display: flex;
}

.prise {
    position: absolute;
    left: 350px;
    top: 57px;
    margin-top: 12px;
    border-radius: 50px 50px 0 0;
}

.count {
    border: solid 3px hsl(27, 85%, 48%);
    border-radius: 10px 0 10px 0;
    margin-top: 12px;
    width: 100%;
    margin-right: 5px;
    height: 38px;
    padding-left: 25%;
    display: block;
    background: #000000;
}

#Amediateka {
    margin-top: 10px;
}

.descript_pr {
    border: solid 3px hsl(27, 85%, 48%);
    border-radius: 7px 0 7px 0;
    text-align: center;
    color: #ffffff;
    background: #000000;
    font-size: 30px;
}

.priselist {
    border: solid 1px #b80000;
    /*border: solid 3px hsl(27, 85%, 48%);*/
    width: 800px;
    color: #ffffff;
    background: #000000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-collapse: separate;
}

th {
    padding: 10px;
    font-size: 30px;
    border-bottom: solid 3px #b80000;
}

th:first-child {
    text-align: center;
}

td {
    font-size: 20px;
    vertical-align: middle;
    padding: 5px;
    text-align: center;
}

tr.under_head_of_table:hover {
    background-color: #ffffff;
    color: black;
}

td.period {
    text-align: left;
    padding-left: 50px;
}

.decr_count {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 200px;
}

footer {
    clear: both;
    background: #000000;
}

.fut {
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-family: 'JetBrains Mono', monospace;
    font-size: 1em;
}

.futt {
    color: #ffffff;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1em;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}