:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

body {
    margin: 0px;
    background: linear-gradient(to top right, rgba(7, 0, 103, 0.9), rgba(75, 50, 113, 0.7));
    -webkit-user-select: none;
    font-family: Arial, Tahoma, Verdana, sans-serif;
}

.container-fluid {
    padding: 0;
}


/*************************************
****************HEADER****************
*************************************/

header div.menu {
    height: 50px;
    background: linear-gradient(to bottom right, #070067, #4A3170);
    /* background: rgba(7, 0, 103, 0.637);
background: rgba(75, 50, 113, 0.582);*/
}

header div.menu a {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: #ffffff;
    margin-top: 10px;
}

header div.menu a.visum span {
    border: 3px solid hsl(175, 100%, 36%);
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    width: 70px;
    height: 35px;
    padding-top: 5px;
    margin-left: 50px;
}

div.head_name div {
    display: none;
}

header nav ul {
    list-style-type: none;
    margin: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 50px;
}

header nav ul li a.bottom,
header nav ul li span.bottom {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    border-bottom: solid 1px hsl(268, 100%, 87%);
    width: auto;
    height: 35px;
    padding: 5px;
    cursor: pointer;
}

#dropdown {
    height: 38px;
}

header nav ul li>span.bottom {
    position: relative;
}

header nav ul li a.bottom:hover {
    border-bottom: solid 2px hsl(268, 100%, 87%);
    border-radius: 3px;
}

header nav ul li span.bottom:hover {
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 45px;
    right: 55.5%;
    width: 210px;
    height: 137%;
    padding: 5px;
    background-color: #181111;
    border: 1px solid #00026b;
    z-index: 1;
}

header nav ul li span.bottom:hover .dropdown-content {
    display: block !important;
    font-size: 15px;
}

.dropdown-content:focus {
    display: block;
    font-size: 15px;
}

.dropdown-content a {
    color: #ffffff !important;
    text-decoration: none;
    font-size: 15px;
    display: block !important;
}

.dropdown-content a:hover {
    font-size: 15px;
    background: darkblue;
    border-radius: 2px;
    text-decoration: none;
}

.dropdown-content a:focus {
    font-size: 15px;
    border-radius: 2px;
    text-decoration: none;
}

#dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

#dropdown:focus .dropdown-content {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.site_navigate_drop {
    display: none;
}

header nav ul li a,
span.bottom {
    color: #fff;
    text-decoration: none;
}

h1 {
    display: flex;
    margin-top: 12px;
    margin-left: 25px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace;
}


/*************************************
*************MAIN BLOCK***************
*************************************/

.container {
    background-color: rgb(255, 255, 255);
    position: relative;
}

section {
    width: 100%;
    position: relative;
}

.row_with_button {
    display: none;
}

.row_with_button form {
    display: none;
}

.row_with_button form input {
    display: none;
}

.row_with_button span.button_filtre {
    display: none;
}

.sidebar_type2 {
    display: none;
    border: 2px solid #505050;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    margin-right: 5px;
}

div.prise_sort_type2 {
    border-bottom: 3px solid #6e6e6e;
    padding: 5px;
    width: 100%;
    float: left;
    box-sizing: content-box;
}

.sort_by_count_type2 {
    width: 100%;
}

.sort_name_type2 {
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    margin-top: 3%;
}

ul.sort_type2 span.type_of_period_type2 {
    display: inline-block;
    width: 40%;
    font-size: 13px;
}

.pole_input_of_free_days {
    width: 43%;
}

#free_day {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#free_day span.type_of_period_type2 {
    width: 30%;
    margin-left: 18%;
}

form.input_counts_of_free_days_type2 {
    width: 30% !important;
    display: inline-flex;
}

form.input_counts_of_free_days_type2 input {
    width: 92% !important;
}

div.prise_sort_type2 ul.sort_type2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

div.prise_sort_type2 ul.sort_type2 li {
    width: 45%;
    display: inline-block;
    margin-bottom: 10px;
}

div.prise_sort_type2 ul.sort_type2 li form.input_prise_of_period_type2,
form.end_of_prise_type2 {
    display: inline-flex;
    width: 53%;
}

div.prise_sort_type2 ul.sort_type2 li form.input_prise_of_period_type2 input,
form.end_of_prise_type2 input {
    width: 100%;
    margin-right: 4%;
}

form.input_count_of_films_type2 {
    padding-left: 19%;
    padding-right: 19%;
}

.platforms_block {
    padding: 0;
    width: 80%;
    margin-left: 20%;
    margin-right: 0;
    justify-content: space-between;
}


/*************************************
************SORT BLOCK****************
*************************************/

.sort_block {
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    height: 96%;
    background: #000050;
    color: #ffffff;
    position: absolute;
}

aside.sidebar {
    position: sticky;
    top: 45px;
    clear: both;
    padding-bottom: 5px;
}

.sort_name {
    border-bottom: 2px solid rgb(114, 114, 114);
    margin-bottom: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
}

.type_of_period {
    display: block;
    text-align: center;
    padding-bottom: 5px;
    font-size: 16px;
}

ul.sort form.input_prise_of_period {
    display: inline-block;
    width: 82%;
    margin-left: 9%;
    margin-right: 9%;
}

ul.sort form.input_prise_of_period input {
    border-radius: 5px;
    padding-left: 4px;
    width: 48%;
}

.sort_by_count {
    margin-top: 25px;
}

ul.sort li span {
    font-size: 17px;
}

div.sort_by_count div.sort_name {
    margin-bottom: 10px;
}

form.input_counts_of_free_days {
    display: inline-block;
    margin-left: 9%;
    margin-right: 9%;
    width: 82%;
}

form.input_counts_of_free_days input.film_count {
    width: 100%;
    border-radius: 5px;
    padding-left: 4px;
}

form.input_count_of_films p label {
    font-size: 16px;
    margin-bottom: 15px;
}

form.input_count_of_films p label:hover {
    font-size: 16px;
    border-bottom: 1px solid rgb(114, 114, 114);
}

form.input_count_of_films p label:focus {
    font-size: 16px;
    border-bottom: 1px solid rgb(114, 114, 114);
}

div.sort_by_prise ul.sort li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(202, 202, 202);
}

.sort {
    list-style-type: none;
    padding: 0;
}

#sort_films {
    margin-bottom: 0;
}


/*************************************
*************PLATFORMS****************
*************************************/

section {
    margin-top: 45px;
    border-top: 2px solid rgb(133, 133, 133);
    padding-top: 45px;
}

.one_platform {
    padding-right: 1% !important;
    padding-left: 1% !important;
    border: 1px solid #000;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 20px;
    display: table;
}

div.one_platform a.headband img {
    margin-top: 7px;
    box-sizing: border-box;
    border: 3px solid rgb(29, 0, 196);
    border-radius: 10px;
    width: 100%;
}

div.one_platform h3 {
    display: inline-block;
    border: solid 2px rgb(29, 0, 196);
    background-color: rgb(243, 243, 243);
    color: rgb(17, 17, 17);
    border-radius: 5px;
    width: 70%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 0;
}

div.one_platform h3:hover {
    border: solid 2px rgb(29, 0, 196);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 70%;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
}

div.one_platform h3:focus {
    border: solid 2px rgb(29, 0, 196);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 70%;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
}

.dots {
    float: right;
    cursor: pointer;
    margin-top: 3px;
}

div.dropdown-prise {
    margin-top: 10px;
    display: none;
}

.four_plat_view {
    display: none;
}

.main_inf_of_platform {
    margin-bottom: 7px;
}


/*************************************
************TABLE WITH PRISE**********
*************************************/

.priselist {
    border: solid 1px rgb(29, 0, 196);
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    color: #ffffff;
    background: linear-gradient(to bottom right, #0b009e, #5e3e8d);
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -khtml-border-radius: 0 0 10px 10px;
    border-collapse: separate;
    border-spacing: 0 6px;
}

th {
    padding: 10px;
    max-height: 50px;
    font-size: 15px;
    border-bottom: solid 3px rgb(10, 0, 68);
}

th:first-child {
    text-align: center;
}

td {
    font-size: 15px;
    vertical-align: middle;
    text-align: center;
}

tr.under_head_of_table:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

tr.under_head_of_table:focus {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

td.period {
    text-align: left;
}


/*************************************
***************FOOTER*****************
*************************************/

div.container {
    background-image: url(../images/backfon.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 590px;
}

div.content {
    background: rgba(0, 0, 0, 0.8);
    height: 590px;
}

div.content:hover {
    background: rgba(0, 0, 0, 0.8) !important;
    height: 590px;
}

div.content div.contact {
    color: #fff;
    font-size: 3.5em;
    font-weight: bold;
    margin-top: 17%;
}

div.content p.adress {
    font-size: 1em;
    color: #878787;
    margin-top: 30px;
}

div.content p {
    color: #878787;
    font-size: 32px;
    margin: 24px 0 0 0;
}

div.content p span {
    color: #5ddfff;
}

div.content ul {
    list-style-type: none;
    margin-top: 70px;
    padding: 0;
}

div.content ul li {
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 27px;
    margin-right: 37px;
}

div.content ul li.facebook {
    background: #3b5998;
    padding: 20px 24px;
}

div.content ul li.twitter {
    background: #55acee;
    padding: 20px 19px;
}

div.content ul li.google {
    background: #dd4b39;
    padding: 20px 18px;
}

div.content ul li.email {
    background: #e23047;
    padding: 20px 18px;
}

form.data_user {
    margin-top: 78px;
    margin-left: 45px;
}

div.content ul li:hover {
    background: rgba(130, 130, 130, 0.6);
    cursor: pointer;
}

div.content input[type="text"],
div.content input[type="email"] {
    width: 400px;
    height: 45px;
    background: none;
    border-radius: 6px;
    border: 1px solid #535353;
    color: #fff;
    font-size: 17px;
    display: block;
    padding-left: 30px;
    margin: 45px auto;
}

div.content[type="text"] {
    margin-top: 126px;
}

div.content textarea {
    width: 400px;
    height: 200px;
    background: none;
    border-radius: 6px;
    border: 1px solid #535353;
    color: #fff;
    font-size: 17px;
    display: block;
    padding: 30px;
    margin: 20px auto;
    resize: none;
}

div.content button {
    display: block;
    text-align: center;
    text-decoration: none;
    background: #2ebaee;
    height: 45px;
    width: 100px;
    border-radius: 24px;
    font-size: 16px;
    color: #fff;
    line-height: 44px;
    margin: 30px auto;
    border: none;
}

div.content button:hover {
    color: #2ebaee;
    background: #fff;
}

footer {
    clear: both;
    background: #000000;
}

.fut {
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-family: 'JetBrains Mono', monospace;
    font-size: 1em;
}

.futt {
    color: #ffffff;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1em;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}


/*************************************
***************ADAPTIV****************
*************************************/

@media (max-width: 344px) {
    div.head_name h1.top1 {
        font-size: 12px !important;
    }
}

@media (max-width: 481px) {
    div.head_name h1.top1 {
        margin-left: 10px;
        display: block;
        position: absolute;
        top: 46px;
        width: 124%;
        color: rgb(250, 250, 250);
        font-size: 4vw !important;
    }
    footer p.fut {
        font-size: 12px !important;
    }
}

@media (max-width: 575.98px) {
    /*div.head_name h1.top1 {
font-size: 14px;
}*/
    div.head_name h1.top1 {
        margin-left: 10px;
        display: block;
        position: absolute;
        top: 46px;
        width: 124%;
        color: rgb(250, 250, 250);
        font-size: 4vw !important;
    }
    .list2 {
        left: -78px !important;
        top: 48px !important;
    }
    .site_navigate_drop {
        margin-right: 10px !important;
    }
    .sort_block {
        display: none;
    }
    .row_with_button {
        display: block;
        margin-bottom: 30px;
    }
    .row_with_button span.button_filtre {
        display: inline;
    }
    div.row_with_button form {
        width: 80%;
        display: inline;
    }
    div.row_with_button form input {
        display: inline;
        width: 90%;
        border-radius: 16px;
        padding: 5px;
    }
    div.row_with_button form:focus {
        width: 80%;
        border: none;
    }
    div.row_with_button form input:focus {
        width: 90%;
        border-radius: 16px !important;
        padding: 5px;
    }
    div.row_with_button form input:hover {
        width: 90%;
        border-radius: 16px !important;
        padding: 5px;
    }
    .button_filtre {
        display: inline-flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row nowrap;
        -webkit-box-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        align-items: center;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
        margin-right: 20px;
        color: #000;
        font-size: 16px;
        padding-bottom: 2px;
        border-bottom: 1px solid #070067;
    }
    .platforms_block {
        padding: 0;
        width: 100%;
        margin-left: 0;
        margin-right: 10px;
        justify-content: space-between !important;
    }
    .one_platform {
        width: 48% !important;
    }
    .priselist th {
        padding: 5px !important;
        font-size: 14px !important;
        border-bottom: solid 2px #ffffff !important;
    }
    table.priselist tr td {
        border-bottom: 1px solid #bdbdbd !important;
        font-size: 13px !important;
    }
    div.content div.contact {
        font-size: 31px;
        margin: 19px auto !important;
        text-align: center;
    }
    div.content p.adress {
        font-size: 14px;
        margin: 1% 13% !important;
        text-align: center;
        display: block;
    }
    div.content p {
        font-size: 15px !important;
        margin-left: 8% !important;
        display: inline-block !important;
    }
    div.content ul {
        padding: 20px;
        margin: -2% 18% !important;
    }
    form.data_user {
        margin: 0 19% !important;
    }
    div.content input[type="text"],
    div.content input[type="email"],
    div.content textarea {
        width: 300px;
        margin-top: 25px;
        height: 40px;
        font-size: 15px;
        padding-left: 20px;
    }
    div.content textarea {
        height: 120px !important;
        padding: 10px !important;
    }
    footer p.fut {
        font-size: 14px;
    }
}

@media (max-width: 767.98px) {
    div.content div.contact {
        font-size: 31px;
        margin: 19px auto !important;
        text-align: center;
    }
    div.content p.adress {
        font-size: 14px;
        margin: 1% 13% !important;
        text-align: center;
        display: block;
    }
    div.content p {
        font-size: 15px !important;
        margin-left: 8% !important;
        display: inline-block !important;
    }
    div.content ul {
        padding: 20px;
        margin: -2% 18% !important;
    }
    form.data_user {
        margin: 0 19% !important;
    }
    div.content input[type="text"],
    div.content input[type="email"],
    div.content textarea {
        width: 300px;
        margin-top: 25px;
        height: 40px;
        font-size: 15px;
        padding-left: 20px;
    }
    div.content textarea {
        height: 120px !important;
        padding: 10px !important;
    }
    .row_with_button {
        display: block;
        margin-bottom: 30px;
    }
    .row_with_button span.button_filtre {
        display: inline;
    }
    div.row_with_button form {
        width: 80%;
        display: inline;
    }
    div.row_with_button form input {
        display: inline;
        width: 90%;
        border-radius: 16px;
        padding: 5px;
    }
    div.row_with_button form:focus {
        width: 80%;
        border: none;
    }
    div.row_with_button form input:focus {
        width: 90%;
        border-radius: 16px !important;
        padding: 5px;
    }
    div.row_with_button form input:hover {
        width: 90%;
        border-radius: 16px !important;
        padding: 5px;
    }
    .button_filtre {
        display: inline-flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row nowrap;
        -webkit-box-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        align-items: center;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
        margin-right: 20px;
        color: #000;
        padding-top: 5px;
        font-size: 16px;
        padding-bottom: 2px;
        border-bottom: 1px solid #070067;
    }
    .sort_block {
        display: none;
    }
    div.head_name div {
        display: block;
    }
    div.four_plat_not_view {
        display: none;
    }
    div.four_plat_view {
        display: block;
    }
    form.input_count_of_films_type2 p label {
        font-size: 14px;
    }
    form.input_count_of_films_type2 p {
        margin-bottom: 18px;
        margin-top: 15px;
        margin-right: 5%;
        margin-left: 5%;
        display: inline-flex;
    }
    .lit_V {
        display: inline;
        font-size: 40px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: hsl(175, 100%, 36%) !important;
        float: left;
        margin-left: 5px;
        margin-right: 10px;
        margin-top: 4px !important;
    }
    a.visum {
        display: none !important;
    }
    .site_navigate_drop {
        margin-right: 0px;
    }
    div.head_name h1.top1 {
        font-size: 2.5vw;
    }
    .platforms_block {
        margin-left: 0;
        width: 100%;
    }
    table.priselist tr,
    table.priselist td {
        font-size: 14px !important;
    }
}

@media (max-width: 991.98px) {
    .col-md-2 {
        max-width: 18.666667% !important;
    }
    .container {
        padding-left: 5px;
        padding-right: 0;
    }
    .container {
        z-index: 1;
    }
    ul.sort form.input_prise_of_period {
        width: 97%;
        margin-left: 1%;
        margin-right: 2%;
    }
    form.input_prise_of_period input {
        margin-left: 0px !important;
        margin-right: 0px;
    }
    .sort_name {
        margin-bottom: 10px;
        padding-bottom: 5px;
        font-size: 0.94em;
    }
    ul.sort li span {
        font-size: 13px;
    }
    .sort_by_count {
        margin-top: 0;
    }
    table.priselist tr,
    table.priselist td {
        font-size: 12px !important;
    }
    div.one_platform h3 {
        font-size: 12px !important;
    }
    div.main_inf_of_platform img {
        padding-bottom: 3px !important;
    }
    form.input_count_of_films p label {
        font-size: 13px;
    }
    form.input_count_of_films p label:hover {
        font-size: 13px;
    }
    form.input_count_of_films p label:focus {
        font-size: 13px;
    }
    input.film_count {
        width: 100px !important;
        margin-right: 0 !important;
        margin-left: 0!important;
    }
    .list1 {
        display: none;
    }
    .head {
        height: 100%;
        float: right;
        margin-right: 30px;
    }
    .site_navigate_drop {
        display: inline-block;
        position: relative;
        margin-right: 40px;
    }
    .drop-label {
        cursor: pointer;
        font-size: 18px;
        text-align: center;
        color: #fff;
        font-family: Verdana, sans-serif, monospace;
        margin-top: 16px;
        height: 38px;
    }
    .list2 {
        display: none;
        position: absolute;
        left: -56px;
        top: 3em;
        min-width: 170px;
        z-index: 2;
        background-color: #111111;
    }
    .site_navigate_drop:hover .list2 {
        display: block;
    }
    .site_navigate_drop:focus .list2 {
        display: block;
    }
    .submenu {
        padding-left: 0 !important;
        margin: 0 !important;
        list-style-type: none;
        border: 1px solid #00026b;
    }
    .submenu ul {
        margin-right: 0;
        padding-left: 0;
    }
    .submenu>li/*+li*/
    {
        border: 1px solid #181111;
        width: 100%;
        margin-right: 0 !important;
    }
    .submenu>li#dropdown:hover {
        height: auto;
    }
    .submenu>li:focus {
        border: 1px solid #181111;
        width: 100%;
        margin-right: 0 !important;
    }
    .submenu>li#dropdown:focus {
        height: 128px;
    }
    .submenu>li>a,
    .submenu>li>span {
        display: block !important;
        text-align: center;
        color: #fff;
        font-size: 14px;
        text-decoration: none;
        color: #ffffff;
        margin-top: 0 !important;
        height: auto;
    }
    .submenu>li>a:hover,
    .submenu>li>span:hover {
        display: block !important;
        text-align: center;
        font-size: 14px;
        text-decoration: none;
        color: #ffffff;
        margin-top: 0 !important;
        background: darkblue;
        height: auto !important;
        border: none !important;
    }
    .submenu>li>a:focus,
    .submenu>li>span:focus {
        display: block !important;
        text-align: center;
        font-size: 14px;
        text-decoration: none;
        color: #ffffff;
        margin-top: 0 !important;
        background: darkblue;
        height: auto;
        border: none;
    }
    .submenu>li>span:focus {
        height: 92px !important;
        cursor: pointer;
    }
    header nav ul li a.bottom,
    header nav ul li span.bottom {
        height: auto !important;
    }
    div.head_name h1.top1 {
        margin-top: 17px;
    }
    .dropdown-content {
        right: 0 !important;
        top: 122px !important;
        height: 68px !important;
    }
    .dropdown-content a {
        display: block !important;
    }
    header div.menu a.visum span {
        margin-left: 6px !important;
    }
    div.content div.contact {
        color: #fff;
        font-size: 48px;
        font-weight: bold;
        margin-top: 80px;
    }
    div.content p {
        color: #878787;
        font-size: 24px;
        margin: 14px auto;
    }
    div.content p.adress {
        font-size: 16px;
        color: #878787;
        margin-top: 40px;
    }
    div.content ul {
        list-style-type: none;
        padding: 20px;
        margin: 7% 0 0 3%;
    }
    div.content ul li {
        display: inline-block;
        width: 55px;
        height: 55px;
        border-radius: 27px;
    }
    div.content {
        background-position: top center;
        background-repeat: no-repeat;
        height: 592px;
    }
    div.content input[type="text"],
    div.content input[type="email"],
    div.content textarea {
        width: 300px !important;
        margin: 0 !important;
        margin-top: 27px !important;
    }
    div.content textarea {
        height: 120px;
        background: none;
        border-radius: 6px;
        border: 1px solid #535353;
        color: #fff;
        font-size: 17px;
        display: block;
        padding: 30px;
        margin: 20px auto;
        resize: none;
    }
}

@media (max-width: 1156px) {
    header div.menu a.visum {
        margin-top: 12px;
    }
    header nav ul li a.bottom,
    header nav ul li span.bottom {
        font-size: 14px !important;
        height: 26px;
        border: none;
        margin-top: 12px;
    }
    header nav ul li a.bottom:hover,
    header nav ul li span.bottom:hover {
        font-size: 14px;
        height: 26px;
        border-bottom: solid 1px hsl(268, 100%, 87%);
    }
    header nav ul li a.bottom:focus,
    header nav ul li span.bottom:focus {
        font-size: 14px;
        height: 26px;
        border-bottom: solid 1px hsl(268, 100%, 87%);
    }
    header div.menu a.visum span {
        font-size: 16px;
        width: 55px;
        height: 30px;
        padding: 5px;
    }
    .dropdown-content {
        display: none;
        width: 170px;
        position: absolute;
        z-index: 1;
        right: 52.5%;
        height: 124%;
    }
    .dropdown-content:hover {
        display: block;
        width: 170px;
        font-size: 12px;
    }
    .dropdown-content:focus {
        display: block;
        font-size: 12px;
    }
    .dropdown-content a {
        font-size: 12px;
    }
    .dropdown-content a:hover {
        font-size: 12px;
    }
    .dropdown-content a:focus {
        font-size: 12px;
    }
    #dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    #dropdown:focus .dropdown-content {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    h1.top1 {
        font-size: 16px;
        margin-left: 8px;
        margin-top: 17px;
    }
}

@media (max-width: 1172px) {
    h1.top1 {
        font-size: 17px;
        margin-left: 8px;
        margin-top: 16px;
    }
    header div.menu a.visum span {
        margin-left: 15px;
    }
    .dropdown-content {
        display: none;
        width: 170px;
        position: absolute;
        z-index: 1;
        right: 51.5%;
        height: 124%;
    }
    .dropdown-content:hover {
        display: block;
        width: 170px;
        font-size: 12px;
    }
    .dropdown-content:focus {
        display: block;
        font-size: 12px;
    }
    .dropdown-content a {
        font-size: 12px;
    }
    .dropdown-content a:hover {
        font-size: 12px;
    }
    .dropdown-content a:focus {
        font-size: 12px;
    }
    #dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    #dropdown:focus .dropdown-content {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
}

@media (max-width: 1199.98px) {
    nav.head ul {
        padding-left: 20px;
    }
    div.one_platform h3 {
        font-size: 14px;
    }
    div.main_inf_of_platform img {
        padding-bottom: 2px;
    }
    table.priselist tr,
    table.priselist td {
        font-size: 14px;
    }
    .conect_with_us {
        padding-left: 0;
        padding-right: 0;
    }
    div.content div.contact {
        font-size: 36px;
        margin-left: 10px;
    }
    div.content p.adress {
        font-size: 14px;
        margin-left: 10px;
    }
    div.content p {
        font-size: 24px;
        margin-left: 10px;
    }
    div.content ul li {
        margin-right: 10px;
        height: 50px;
        width: 50px;
    }
    div.content ul li.facebook {
        margin-left: 10px;
        padding: 18px 21px;
    }
    div.content ul li.twitter {
        padding: 18px 16px;
    }
    div.content ul li.google {
        padding: 18px 16px;
    }
    div.content ul li.email {
        padding: 18px 16px;
    }
    form.data_user {
        margin-top: 54px;
    }
    div.content input[type="text"],
    section.footer input[type="email"],
    section.footer textarea {
        width: 400px;
    }
}

@media (max-width: 1245px) {
    header nav ul li a.bottom,
    header nav ul li span.bottom {
        font-size: 15px;
        height: 30px;
    }
    h1 {
        font-size: 18px;
        margin-top: 15px;
    }
    .dropdown-content {
        top: 39px;
    }
    header div.menu a.visum span {
        display: block;
    }
    header nav ul li span.bottom,
    header nav ul li a.bottom {
        padding-bottom: 5px !important;
    }
}

@media (max-width: 1399.98px) {}

@media (max-width: 1456px) {
    h1 {
        margin-top: 16px;
        font-size: 20px;
    }
    header div.menu a.visum span {
        margin-left: 20px;
    }
    header nav ul li span.bottom {
        padding-bottom: 0.05em;
    }
}

@media (max-width: 1476px) {
    nav.head ul {
        margin-right: 20px;
    }
    nav.head ul li {
        margin-right: 10px;
    }
    header nav ul li span.bottom,
    header nav ul li a.bottom {
        height: 30px;
        padding: 5px;
        padding-bottom: 1px;
        margin-top: 14px;
    }
}